body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

.contenedor-alimentos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url();
  background-size: cover;
  background-position: calc(75vw-20px);
  background-repeat: no-repeat;
  margin-right: 10px;
}
.contenedor-accesorios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-image: url();
  background-size: cover;
  background-position: calc(75vw-20px);
  background-repeat: no-repeat;
  margin-right: 10px;
}
.alimentos-cat,
.alimentos-dog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.alimentos-cat .food-animal,
.alimentos-dog .food-animal {
  border: 1px solid var(#333);
  border-radius: 30px;
  box-shadow: 0px 8px 16px 0px rgba(2, 2, 2, 0.8);
  max-width: 430px;
  height: auto;
}

.alimentos-cat button,
.alimentos-dog button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #d85300;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(2, 2, 2, 0.8);
}
.alimentos-cat button:hover,
.alimentos-dog button:hover {
  background-color: #e67c3a;
}

h1 {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.contenido-alimento-perro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.fila {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.tarjeta {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 10px;
  width: calc(25% - 20px);
  box-sizing: border-box;
  text-align: center;
}

.tarjeta img {
  max-width: 100%;
  border-radius: 10px;
}

.tarjeta h3 {
  color: #333;
  font-size: 1.2em;
  margin: 10px 0;
}

.tarjeta p {
  color: #666;
  font-size: 1em;
}

.contenido-alimento-gato {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tarjeta {
  flex: 1 1 calc(100% - 20px);
  margin: 10px;
  max-width: 100%;
}

/* ------------------------------------------------------------------------------------- */

@media (min-width: 900px) {
  .tarjeta {
    flex: 1 1 calc(25% - 20px);
  }
}

@media (max-width: 600px) {
  .alimentos-cat .food-animal,
  .alimentos-dog .food-animal {
    max-width: 330px;
  }
}
