@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primario:#eaeff3;
    --color-secundario:#a20515;
    --color-terciario:#0c0b0a;
    --color-cuaternario:#ded9d9;
    --color-quinario:#fc4b08;
    --color-sexario:#333;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

h1 {
    text-align: center;
    color:var(--color-sexario);
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
}

/* Contenedor de los servicios */
.servicios-varios {
    text-align: center;
    margin-bottom: 20px;
}

.img-container img {
    width: 100%;
    max-width: 851px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 1, 0.1);
    border: 1px solid gray;
}
 
    

/* Estilos del formulario */
form {
    max-width: 600px;
    min-width: 320px;
    margin: 0 auto;
    padding: 20px;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:var(--color-sexario);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background-color:var(--color-quinario);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:#c83a07;
}


@media (max-width: 600px) {
    form {
        padding: 15px;
        max-width: 320px;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="file"],
    textarea,
    select {
        font-size: 14px;
    }

    button {
        width: 30%;
        font-size: 14px;
        margin: 0 auto;
        display: block;
       
    }
    .tyc, label{
        font-size: 0.7rem;
    }
    .img-container img {
        max-width: auto; 
        margin: 0 auto; /* Ajusta el valor para dejar espacio en los costados */
        display: block;
      
    }
   
}
