@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primario:#eaeff3;
    --color-secundario:#a20515;
    --color-terciario:#0c0b0a;
    --color-cuaternario:#ded9d9;
    --color-quinario:#D97A07;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
  }
  
  /* Animacion */
  @keyframes aparicion{
      0%{opacity: 0;filter: grayscale(100%);}
      50%{opacity: 1;}
      100%{filter: grayscale(0%);}
      
    }
    body {
      font-family: sans-serif;
      animation:aparicion 4s;
     
    }

  .contenedor{
    min-height: 100vh;
    width: 100%;
    padding: 30px 0;
}
/* Colores */
.red{
    color:var(--color-primario);
    background-color: var(--color-secundario);
}
.white{
    color:var(--color-secundario);
    background-color: var(--color-primario);
}
  
  .logo {
    color: var(--color-primario);
    font-size: 30px;
  }
  
  .logo span {
    transition: 1s;
  }
  .input-busqueda{
    border-radius: 4px;
    height: 36px;
    padding-left: 5px;
  }


  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--color-primario);
    border:1px solid var(--color-terciario);
    color:var(--color-terciario);
    text-align: center;
    font-size: 0.8em;
    padding: 2px;
    width: 100px;
    min-height: 35px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .menuBar {
    background-color:var(--color-quinario);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  
  .menuBar ul {
    list-style: none;
    display: flex;
  }
  
  .menuBar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    text-align:start; 
    /* margin-left: 10px; */
    position: relative;
    background-color: var(--color-quinario);
  }
  
  .menuBar ul li a {
    font-size: 20px;
    color: var(--color-primario);
    text-decoration: none;
    transition: all 0.3s;
  }
 
  
  .menuBar ul li a:hover {
    color: var(--color-terciario);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* Desplegables */
  .drop-down-menu {
    display: none;
  }
  
  .menuBar ul li:hover .drop-down-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    
  }
  
  .menuBar ul li:hover .drop-down-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menuBar ul li:hover .drop-down-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .drop-down-menu-1 {
    display: none;
  }
  
  .drop-down-menu ul li:hover .drop-down-menu-1 {
    display: block;
    position: absolute;
    left: 140px;
    top: 0;
    
    
  }
  
  .hero {
      background-image:url(img/peludo.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
 } 
 .frase-hero{
    color: var(--color-primario);
    font-size: 3em;
    padding-top: 200px;
    padding-left: 100px;
 }


 /*Main*/
 .carousel {
    width: 100%;
    max-width: 100%; 
    overflow: hidden;
    position: relative;
}

.slide {
    width: 100%;
    display: none;
}

.active {
    display: block;
}


/*Registro*/
.registro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
   height: 120px;
   background-color:var(--color-cuaternario);
}
.input-registro{
    border-radius: 4px;
    min-height: 36px;
    padding-left: 5px;
  }

  /*Ofertas*/
  .container-ofertas {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: calc(25% - 20px); /* 25% del ancho del contenedor menos el espacio entre las tarjetas */
    max-height:auto;
    margin: 10px;
    padding: 20px;
    border: 1px solid var(--color-secundario);
    box-sizing: border-box;
    border-radius: 10px;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    
}



.card-text {
    margin-top: 10px;
    text-align: center; 
    font-size: 0.5em;
}
.next-Btn{
    background-color: transparent;
    border: none;
    width: 200px;
    
}
.ofertas , .ofer-sem{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Api*/
.animal-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-quinario);
    color: var(--color-primario);
   ;
}


#dog-image-container {
    margin: 40px;
}

#dog-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-top: 5px;
}






     





/* Footer */

  .contenedor-foot{
    display: flex;
    justify-content: space-around;
    min-height: 40vh;
    width: 100%;
    padding: 30px 0;
   
   
   
}

  .logo-foot{
    display: flex;
    flex-direction: row;
    align-items:baseline;
  
}


.efectivo-transf{
    font-size: 0.7em;
}

.contenedor-foot p a {
    text-decoration: none;
    color: var(--color-primario);
    font-size: 0.7em;
    transition: 1s;
  }
  .contenedor-foot h6{
    font-size: 1em;

  }
.contenedor-foot p a:hover{
   
    color: var(--color-terciario);
    transition: 0.5s;
 
  }
  .nosotros ,.productos ,.servicios ,.clientes{
    display: flex;
    align-items:start;
    flex-direction: column;


   
  }
  
.cancel-compra{
   
    font-size: 0.7em;
}
.efectivo-transf{
    font-size: 0.7em;
}

.contenedor-foot{
    min-height: 40vh;
    width: 100%;
    padding: 30px 0;
   
   
   
}

.contenedor-foot p a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: var(--color-primario);
    font-size: 0.7em;
    transition: 1s;
   
  }
  .contenedor-foot h6{
    font-size: 1em;

  }
.contenedor-foot p a:hover{
   
    color: var(--color-terciario);
    transition: 0.5s;
 
  }
  .nosotros a ,.productos a ,.servicios a ,.clientes a {
    display: flex;
    align-items:start;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 3px;
  }

  .forma-pago{
    padding-top: 30px;
  }
 
 
